h1{
    text-align:center;
    }
    
    button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    background-color:pink;
    border: 2px solid;
    }
    
    #grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color:white;
    grid-template-columns:40px 40px 40px 40px;
    grid-template-rows:40px 40px 40px 40px;
    grid-gap:1px;
    }
    
    .grid-item{
    background-color:pink;
    }